#root {
/*    -fx-background-color: #333333;*/
    -fx-padding: 1px;
}
#mainToolBar {
    -fx-padding: 10px;
    -fx-background-image: url("img/top-bar.png");
    -fx-background-size: cover;
    -fx-background-position: left top;
    -fx-background-repeat: no-repeat;
}

#page-splitpane {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#page-splitpane *.split-pane-divider{
    -fx-padding: 0 1 0 0;
    -fx-background-color: transparent, #333333;
    -fx-background-insets: 0 -3 0 -3, 0;
    -fx-border-color: null;
}
#page-splitpane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-shape: "";
}

.application .noborder-scroll-pane > * > .scroll-bar:vertical {
    -fx-padding: -1.0 -1.0 12 0.0;
}
.application .web-view-window-corner .scroll-bar:vertical {
    -fx-padding: 0 0 12 0;
}


.sm-title{
    -fx-text-fill : #7c7c7c;
    -fx-font-size : 14px;
    -fx-font-weight : 900;
}

.side-nav .label{
    -fx-font-size : 14px;
}

.el{
    -fx-font-size : 14px;
}

.tab-btn{
    -fx-padding : 8px 30px;
}

.t-right{
    -fx-text-alignment: right;
}
